.App{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}
body{
    margin: 0;
}
.add-student{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
   
}
.teacherlist{
    padding-top: 30px;
}
.heading{
    text-align: center;
}
.home{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
}
.img{
    padding-top: 30px;
    
}
.add-student {
    padding-top: 30px;
}
.read{
    padding-top: 30px;

}